<div class="container padded10">
  <div class="row">
    <div class="col-md-12">
        <mat-card class="centered-text">I made video games with my 
          <a href="https://twitter.com/falcondevelops" target="https://twitter.com/falcondevelops">husband.</a>
          We use 
          <a href="https://www.yoyogames.com/gamemaker" target="https://www.yoyogames.com/gamemaker">GameMaker</a>
          to make most of our games.
          <br>
          I hope to post some of my lil projects here.
        </mat-card>
        <br>
        <mat-card class="centered-text">
          <mat-card-title>Check out our biggest game, </mat-card-title>
          
          <a href="http://cattailsgame.com/" target="http://cattailsgame.com/">
          <img mat-card-image src="../../assets/games/cattails_header.png" target="http://cattailsgame.com/" class="pointer"></a>
        </mat-card>
    </div>
  </div>
</div>