@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@media all and (min-width: 600px) {
    body {
        background-image: url("/assets/background-triangles.jpg");
    }
}

@media(max-width: 599px) {
    body {
        background-color: grey !important;
    }
}

.padded10 {
    padding: 10px;
}

.full-width {
    width: 100%;
}

.nav-button {
    background-color: white;
    margin: 10px !important;
}

.menu {
    background-color: grey;
}

.pointer {
    cursor: pointer;
}

.centered-text {
    text-align: center;
}

.background-black {
    background-color: black;
    color: white;
}

.spacer100 {
    margin-bottom: 100px;
}