@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-image: url("/assets/background-triangles.jpg");
}

.padded10 {
    padding: 10px;
}

.full-width {
    width: 100%;
}