@media all and (min-width: 600px) {
    #header {
        background: url("../../assets/background_beka.jpg") center no-repeat;
        height: 1000px;
    }
}

@media all and (max-width: 599px) {
    #header {
        background: url("../../assets/background_beka_center.jpg") center no-repeat;
        height: 1000px;
    }
}
